In [2]:
#Set Dependencies

%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [144]:
# File to Load (Remember to change these)
#Solar Installations from https://openpv.nrel.gov/search
#Climate Zone Data is from California Energy Commission. California Climate Zone Descriptions for New Buildings. July 1995.
#Climate Zone Details is from California Energy Commission. California Climate Zone Descriptions for New Buildings. July 1995.
#Sunny Days by https://www.currentresults.com/Weather/US/average-annual-sunshine-by-city.php included in Climate Zone csv
#Population data from
#Electricy Consumption by county from http://ecdms.energy.ca.gov/elecbycounty.aspx


#Read files Data from download
pv_data_df = pd.read_csv("open_pv_california_2015.csv", encoding="ISO-8859-1")
climate_zip_code =pd.read_csv("BuildingClimateZonesByZIPCode.csv", encoding="ISO-8859-1")
population = pd.read_csv("population.csv",encoding="ISO-8859-1" )
electricity_consumption=pd.read_csv("ElectricityConsumptionByCounty.csv",encoding="ISO-8859-1" )
climate_zone_details=pd.read_csv("ClimateZoneDetails.csv",encoding="ISO-8859-1" )

C:\Users\aruba\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#SOLAR PANEL DATA

#Clean data by only selecting the columns we need and filter by residential

solar_data = pv_data_df[["incentive_prog_names","size_kw","zipcode","install_type",
                         "cost_per_watt","utility_clean","county","annual_PV_prod"]]
solar_data=solar_data.dropna()

solar_data.loc[solar_data["install_type"] == "residential"]

solar_data=solar_data[["incentive_prog_names","size_kw","zipcode",
                         "cost_per_watt","utility_clean","county","annual_PV_prod"]]

In [132]:
#MERGE IN THE CLIMATE ZONE BY ZIP CODE, POPULATION AND ELECTRICITY CONSUMPTION

#Merge Solar Data with Climate Zone zip code
solar_cz_data = pd.merge(solar_data, climate_zip_code, on="zipcode")

#Merge in population and electricity consumption
solar_cz_pop = pd.merge(solar_cz_data, population, on="county")
solar_cz_pop_elec = pd.merge(solar_cz_pop, electricity_consumption, on="county" )

#MAIN DATA BASE WITH ALL INFORMATION NEEDED TO START ANALYSIS
solar_summary=solar_cz_pop_elec.rename(columns = {"incentive_prog_names": "Incentive Program", 
                                                      "size_kw": "System Size kw", 
                                                      "cost_per_watt": "Cost Per Watt",
                                                     "utility_clean": "Utility Company",
                                                      "county": "County", 
                                                      "annual_PV_prod": "Solar Energy Production kwh",
                                                      "population": "Population",
                                                      "housing_units": "Housing Units",
                                                      "2015 Millions of kWh (GWh)": "Electricity Production Millions of kWh (GWh)"
                                                     })
# Save as a csv
solar_summary.to_csv("solar_summary.csv", encoding="utf-8", index=False)
solar_summary.head()

,Incentive Program,System Size kw,zipcode,Cost Per Watt,Utility Company,County,Solar Energy Production kwh,Building CZ,Population,Housing Units,land_area_sq_mi,Electricity Production Millions of kWh (GWh)
0,California Public Utilities Commission (Non-CS...,7.0672,93720,3.162497,Pacific Gas & Electric Company,Fresno,11080.851980,13,930450,315531,5958,2674.195219
1,California Public Utilities Commission (Non-CS...,6.5604,93720,1.704481,Pacific Gas & Electric Company,Fresno,9368.967142,13,930450,315531,5958,2674.195219
2,California Public Utilities Commission (Non-CS...,6.5604,93720,1.704481,Pacific Gas & Electric Company,Fresno,9008.908333,13,930450,315531,5958,2674.195219
3,California Public Utilities Commission (Non-CS...,9.9320,93720,4.063711,Pacific Gas & Electric Company,Fresno,14009.671590,13,930450,315531,5958,2674.195219
4,California Public Utilities Commission (Non-CS...,8.2005,93720,4.208194,Pacific Gas & Electric Company,Fresno,10891.724510,13,930450,315531,5958,2674.195219

In [143]:
#SHOW DATA GROUPBY CLIMATE ZONE AND MERGE IN THE ADDITIONAL INFORMATION FROM 


cz_count=pd.DataFrame(solar_summary["Building CZ"].value_counts()).reset_index()
cz_count=cz_count.rename(columns = {"index": "Climate Zone","Building CZ": "PV Installations"})
cz_count=cz_count.sort_values("Climate Zone").set_index("Climate Zone")

#Making a new database to insert all information
solardata_summary=cz_count

solardata_summary["System Size kw"]=round(solar_summary.groupby("Building CZ")["System Size kw"].mean(),2)
solardata_summary["Solar Energy Production kwh"]=round(solar_summary.groupby("Building CZ")["Solar Energy Production kwh"].mean())
solardata_summary["Cost Per Watt"]=round(solar_summary.groupby("Building CZ")["Cost Per Watt"].mean(),2)
solardata_summary["Population Size"]=round(solar_summary.groupby("Building CZ")["Population"].mean())
solardata_summary["Housing Units"]=round(solar_summary.groupby("Building CZ")["Housing Units"].mean())

solardata_summary

,PV Installations,System Size kw,Solar Energy Production kwh,Cost Per Watt,Population Size,Housing Units
Climate Zone,,,,,,
1,108,5.20,6729.0,4.73,209001.0,92015.0
2,1640,7.00,10124.0,5.12,346640.0,147471.0
3,3195,7.28,10676.0,5.08,970061.0,374428.0
4,4958,6.26,9326.0,4.82,1451850.0,517860.0
5,1501,6.54,10482.0,4.88,341473.0,133856.0
6,5501,7.22,10575.0,4.78,4685110.0,1639573.0
7,662,6.75,10283.0,4.68,3095313.0,1164786.0
8,8447,6.30,9453.0,4.84,5419311.0,1896784.0
9,8395,6.86,10327.0,4.89,8381716.0,2939764.0
10,7178,6.87,10342.0,4.51,2403494.0,883265.0
11,3970,7.38,10514.0,4.66,216918.0,93873.0
12,11697,6.93,9919.0,4.95,856912.0,323519.0
13,9412,11.46,17372.0,4.78,702601.0,235666.0
14,2306,5.92,9028.0,4.81,7974705.0,2796639.0
15,8,8.48,14330.0,4.43,2189641.0,800707.0
16,630,6.40,9460.0,4.80,3528211.0,1236339.0

In [145]:
#1 Hypothesis:  The locations of Climate Zones (11, 12, 13) will have more solar installations 
climate_zone_details=

,climate_zone,reference_city,cz_location,sunny_days,highest_temp_rec,lowest_temp_rec,Latitude,Longitude,Elevation,HDD,CDD
0,1,Eureka,1-Eureka,179,85,21,41.30,124.28,43,4496,0
1,2,Napa,2-Napa,260,113,14,38.28,122.27,60,2844,456
2,3,Oakland,3-Oakland,261,113,14,37.75,122.20,10,2909,128
3,4,San Jose,4-San Jose,257,109,19,37.35,121.90,70,2335,574
4,5,Santa Maria,5-Santa Maria,283,108,20,34.93,120.42,230,2844,456
5,6,Los Angeles,6-Los Angeles,284,110,27,33.93,118.40,110,1902,470
6,7,San Diego,7-San Diego,263,111,29,32.73,117.17,10,2009,505
7,8,Long Beach,8-Long Beach,278,111,25,33.82,118.15,30,1430,1201
8,9,Los Angeles Civic Center,9-Los Angeles Civic Center,263,110,28,34.05,118.23,270,1154,1537
9,10,Riverside,10-Riverside,277,116,19,33.95,117.38,840,1904,1714
10,11,Red Bluff,11-Red Bluff,249,119,20,40.09,122.15,342,2688,1904
11,12,Stockton,12-Stockton,257,114,19,37.54,121.15,22,2702,1470
12,13,Fresno,13-Fresno,271,111,19,36.46,119.43,328,2702,1470
13,14,Barstow,14-Barstow,281,116,3,35.00,116.47,1927,2581,4239
14,15,Brawley,15-Brawley,305,122,2,32.95,115.55,0,1106,6565
15,16,Bishop,16-Bishop,296,109,-7,37.22,118.22,4108,4313,1037